/*==========================================*/
/* @version                ver: 0.1.9 beta  */
/* @Last update            date: 31/10/21   */
/*==========================================*/


/*START OF CSS*/


/*SECTION I - MISC*/

/*Fonts import*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/*Global Font*/

*{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

/*Unnecessary Stuff*/

iron-selector#chips.style-scope.yt-chip-cloud-renderer {
    display: none;
}


/*SECTION II - Variables*/

* {
    --bright: cyan;
    --dark: black;
    --bg-img: url(https://slogllykop.github.io/Youtube_v2/img/bg.gif);
    --yt-name: "Slogllykop";
    --alpha-25: 0.25; 
    --alpha-50: 0.5; 
    --alpha-75: 0.75; 
}


/*Section III - Main*/

/*Background*/

ytd-app {
  background-image: var(--bg-img) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*"Youtube" Replacement*/

ytd-topbar-logo-renderer[is-logo-updated] yt-icon.ytd-topbar-logo-renderer, #logo-icon {
    visibility: hidden;
}
    
ytd-topbar-logo-renderer[is-logo-updated] yt-icon.ytd-topbar-logo-renderer::before, #logo-icon::before {
    visibility: visible;
    content: var(--yt-name) !important;
    font-weight: 800;
    font-size: 17px;
    position: absolute;
    transition: 1s;
}
    
ytd-topbar-logo-renderer[is-logo-updated] yt-icon.ytd-topbar-logo-renderer:hover::before, #logo-icon:hover::before {
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px var(--bright));
    transition: 1s;
}

/*Video Links - Animation*/

#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer, #dismissible.ytd-video-renderer, #items.yt-horizontal-list-renderer > *.yt-horizontal-list-renderer, ytd-rich-item-renderer {
    transition: all .2s ease-in-out; 
}
  
#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer:hover, #dismissible.ytd-video-renderer:hover, #items.yt-horizontal-list-renderer > *.yt-horizontal-list-renderer:hover, ytd-rich-item-renderer:hover, #dismissible.ytd-compact-video-renderer:hover {
    transform: scale(1.1); 
    z-index: 1;
}

/*Top bar*/

#container.ytd-masthead {
    background: transparent;
    border-bottom: 1px solid var(--bright);
}

#container.ytd-masthead::before {
    content: " ";
    position: absolute;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    width: 110%;
    height: 100%;
    background-size: cover;
    filter: blur(1px);
    transform: translateX(-5%) !important;
    opacity: var(--aplha-75);
}

#buttons.ytd-masthead > *.ytd-masthead { /*Profile fix*/
    z-index: 1 !important;
}

#container.ytd-searchbox { /*Search bar*/
    background-color: transparent;
    border: 1px solid var(--bright);
    border-radius: 17px 0 0 17px;
    z-index: 2;
}

input#search::placeholder {
    color: var(--bright) !important;
}

#container.ytd-searchbox::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bright);
    opacity: var(--alpha-25);
    border-radius: 17px 0 0 17px;
    z-index: -1;
    transform: translateX(-1%) !important;
}

#search-icon-legacy.ytd-searchbox, ytd-searchbox[desktop-search-bar-big-tap-target] #search-icon-legacy.ytd-searchbox {
    border: 1px solid var(--bright);
    background-color: transparent;
    border-radius: 0px 17px 17px 0px;
}

#search-icon-legacy.ytd-searchbox:hover, ytd-searchbox[desktop-search-bar-big-tap-target] #search-icon-legacy.ytd-searchbox:hover {
    border: 1px solid var(--bright);
    background-color: var(--dark);
}

#search-icon-legacy.ytd-searchbox yt-icon.ytd-searchbox {
    width: 30px;
    height: 30px;
    color: var(--bright) !important;
    opacity: 1;
}

.style-scope.ytd-app#guide-inner-content {
    background-color: transparent;
    border-right: 1px solid var(--bright);
}

.style-scope.ytd-app#guide-inner-content::before {
    content: " ";
    position: absolute;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(1px);
    opacity: var(--aplha-75);
}