/*==========================================*/
/* @version                ver: 0.0.1 beta  */
/* @Last update            date: 31/10/21   */
/*==========================================*/


/*START OF CSS*/


/*SECTION I - MISC*/

/*Fonts import*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/*Global Font*/

*{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

/*Unnecessary Stuff*/

iron-selector#chips.style-scope.yt-chip-cloud-renderer {
    display: none;
}


/*SECTION II - Variables*/

* {
    --bright: cyan;
    --dark: black;
    --bg-img: url(https://slogllykop.github.io/Youtube_v2/img/bg.gif);
    --yt-name: "Slogllykop";
}


/*Section III - Main*/

/*Background*/

ytd-app {
  background-image: var(--bg-img) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*"Youtube" Replacement*/

ytd-topbar-logo-renderer[is-logo-updated] yt-icon.ytd-topbar-logo-renderer, #logo-icon {
    visibility: hidden;
}
    
ytd-topbar-logo-renderer[is-logo-updated] yt-icon.ytd-topbar-logo-renderer::before, #logo-icon::before {
    visibility: visible;
    content: var(--yt-name) !important;
    font-weight: 800;
    font-size: 17px;
    position: absolute;
    transition: 1s;
}
    
ytd-topbar-logo-renderer[is-logo-updated] yt-icon.ytd-topbar-logo-renderer:hover::before, #logo-icon:hover::before {
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px var(--bright));
    transition: 1s;
}

/*Video Links - Animation*/

#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer, #dismissible.ytd-video-renderer, #items.yt-horizontal-list-renderer > *.yt-horizontal-list-renderer, ytd-rich-item-renderer {
    transition: all .2s ease-in-out; 
}
  
#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer:hover, #dismissible.ytd-video-renderer:hover, #items.yt-horizontal-list-renderer > *.yt-horizontal-list-renderer:hover, ytd-rich-item-renderer:hover, #dismissible.ytd-compact-video-renderer:hover {
    transform: scale(1.1); 
    z-index: 1;
}